* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

/* NAVBAR */
header {
    background: #111827;
    padding: 15px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #ccc;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(135deg, #1e293b, #0f172a);
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: #38bdf8;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover {
    transform: scale(1.1);
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 20px;
    flex-wrap: wrap;
}

.card {
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.2);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(56, 189, 248, 0.5);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111827;
}
